* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.city {
  width: 75%;
  padding: 10px;
  background: lightblue;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px 0px 0px 10px;
}

.cityButton {
  width: 25%;
  border-radius: 0px 10px 10px 0px;
  border: none;
  background: blue;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

form {
  display: flex;
}

.icon img {
  width: 50px;
  height: 50px;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0px;
}

.details div {
  background-color: lightblue;
  padding: 25px;
  border-radius: 10px;
  font-size: 18px;
  margin: 10px;
  white-space: nowrap;
}

.details {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.air {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .details div {
    width: 100%;
  }

  body {
    height: auto !important;
    margin: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  html,
  body {
    overflow-y: auto !important;
    overflow-x: auto !important;
  }
}
